.container footer {
  line-height: 25px;
  color: #000;
  list-style: none;
}

.footer-box {
  padding: 0 210px 0 200px;
  display: flex;
}

.footer-top {
  height: 250px;
  border: 3px solid #bebebe;
  
}

.footer-top-column {
  padding: 20px 0px 0 0px;
  width: 20%;
  text-align: left;
  
}

.footer-top-list>a,
.footer-top-list p {
  color: #000;
  font-size: 12px;
  display: grid;
  text-decoration: none;
  display: flex;
}

.list-info {
  color: blue;
  text-decoration: none;
}

.footer-bottom {
  height: 80px;
  background-color: #bebebe;
  text-align: left;
  line-height: 80px;
  padding-left: 200px;
  font-weight: 550;
}

.icon {
  font-size: 18px;
  padding: 0 0 0 5px;
  text-decoration: none;
  color: #000;
}